
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	color: #d0d0d0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity:0;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #333333;
}

@media screen and (max-width: 500px) {
    .modalDialog > div {
        width: 200px;
    }
}
