body{
    background-color: #d0d0d0;
}

.Content{
  font-size: 14pt;
}

/*Responsive font size*/

@media screen and (max-width: 800px) {
    body {
        font-size: 12pt;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 10pt;
    }
}
