html, body {
  height: 100%;
}

.bodycont {
  display: flex;
  flex-direction: column;
}
.Content  {
  margin-left: 7%;
  flex: 1 0 auto;
}

.footer {
  margin-top: 5%;
  padding: 1%;
  flex-shrink: 0;
  background-color: #1e1e1e;
  color: #d0d0d0;
  text-align: center;
}
