body {
  background-color: #000000;
  background-image: url("Pictures/Home/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

.web, .design, .photography{
  color:#d0d0d0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/*WEB DESIGN START*/
#web {
  width: 30%;
  padding: 1%;
  margin-left: 7%;
  margin-top: 2%;
  float:left;
  border-radius: 5px;

}

.web {
  padding:2%;
  margin-top: 680px;

}

.web-text {
  padding:2%;
  margin-top:3%;
  border-radius: 5px;
  float:left;
  font-size: 1.2vw;
}
/*WEB DESIGN END*/

/*DESIGN START*/
#design {
  width: 30%;
  padding: 1%;
  margin-right: 7%;
  margin-top: 2%;
  float:right;
  border-radius: 5px;
}
.design {
  padding:2%;
  margin-top:15%;
}

.design-text {
  padding:2%;
  margin-top:3%;
  border-radius: 5px;
  float:right;
  text-align: left;
  font-size: 1.2vw;
}
/*DESIGN END*/

/*PHOTOGRAPHY START*/
#photography {
  width: 30%;
  padding: 1%;
  margin-left: 7%;
  margin-top: 2%;
  float:left;
  border-radius: 5px;
}
.photography {
  padding:2%;
  margin-top:15%;
}

.photography-text {
  padding:2%;
  margin-top:3%;
  border-radius: 5px;
  float:left;
  font-size: 1.2vw;
}
/*PHOTOGRAPHY END*/



/* MARGINRELATIVE TO HEIGHT START*/
@media screen and (max-height: 700px) {
    .web {
        margin-top: 440px;
    }
}

@media screen and (max-height: 550px) {
    .web {
        margin-top: 400px;
    }
}

@media screen and (max-height: 300px) {
    .web {
        margin-top: 200px;
    }
}

/*MARGIN RELATIVE TO HEIGHT END*/

/*MARGIN RELATIVE TO WIDTH START*/
@media screen and (max-width: 1200px) {
    #web {
        margin-left: 5%;
    }
    #photography {
        margin-left: 5%;
    }
    #design {
        margin-right: 5%;
    }

@media screen and (max-width: 800px) {
    #web {
        width: 45%
    }
    #photography {
        width: 45%;
    }
    #design {
        width: 45%;
    }
    .web-text {
      font-size: 1.6vw;
    }
    .design-text {
      font-size: 1.6vw;
    }
    .photography-text {
      font-size: 1.6vw;
    }
}


/*MARGIN RELATIVE TO WIDTH END*/
